.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #494949;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-item:hover {
    color: #47ff9d;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.active {
    color: #47ff9d;
    border-bottom: 2px solid #47ff9d;
}

.login {
    margin-left: auto;
}